@model RiskAssessment.Models.QuestionModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fall Relief</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    

    <link href="~/Content/style.css" rel="stylesheet" />


    <link href="~/Content/progressbar.css" rel="stylesheet" />
    <link href="~/Content/assessment.css" rel="stylesheet" />
    <style>
        input[type="radio"] {
            -ms-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
        }
      
        .Question-number{
            font-size:20px;
        }
    </style>
</head>
<body>

    <nav class="navbar px-md-0 navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-dark" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">Fall Relief </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Home/Assessment" class="nav-link">Assessment</a></li>
                    <li class="nav-item"><a href="/Home/Health Facility" class="nav-link">Health Facility</a></li>
                </ul>
            </div>
        </div>
    </nav>




    @{
        var totalQuestion = Model.TotalQuestionNo;
    }

    <div class="tabbable">
        <ul class="nav nav-tabs wizard">
            @if (Model.AssessmentTypeID == 1)
            {
                <li id="step1" class="active"><a><span class="nmbr">1</span>Basic Info</a></li>
                <li id="step2"><a><span class="nmbr">2</span>Fall History</a></li>
                <li id="step3"><a><span class="nmbr">3</span>Medical History</a></li>
                <li id="step4"><a><span class="nmbr">4</span>Results</a></li>
            }
            else
            {
                <li id="step1" class="active"><a><span class="nmbr">1</span>Lighting</a></li>
                <li id="step2"><a><span class="nmbr">2</span>Floor</a></li>
                <li id="step3"><a><span class="nmbr">3</span>Stairs/Steps </a></li>
                <li id="step4"><a><span class="nmbr">4</span>Miscellaneous Obstacles</a></li>
                <li id="step5"><a><span class="nmbr">5</span>Results</a></li>
            }





        </ul>
    </div>




    <section class="ftco-section">
        <div class="container">

            <div class="col-md-12">

                <div class="Question-section">@(Model.QuestionSection)</div>



                @using (Html.BeginForm("PostAnswer", "Home", FormMethod.Post, new { @id = "form" }))
                {
                    @Html.Hidden("Direction", "forward")
                    <input type="hidden" name="SessionID" value="@(Session["SessionID"])" />
                    <input type="hidden" name="AssessmentTypeID" value="@(Model.AssessmentTypeID)" />
                    <input type="hidden" name="QuestionID" value="@(Model.QuestionNumber)" />

                    <p style="font-size:20px">

                        @Html.Raw(Model.Question ?? "")
                    </p>

                    if (Model.QuestionType == "Radio")
                    {
                        <ul class="js_choices" style="list-style-type:none;">
                            @for (int i = 0; i < Model.Options.Count; i++)
                            {

                                <li>
                                    <input type="hidden" name="UserReponse[@i].ResponseID" value="@(Model.Options[i].ResponseID)" />
                                    <input type="radio" name="UserReponse[@i].IsChecked" @(!string.IsNullOrEmpty(Model.Options[i].Answer) ? "CHECKED" : "") />
                                    <span class="Code">@Html.Raw(Model.Options[i].Response.Replace("[", "&lt;").Replace("]", "gt;"))</span>
                                </li>

                            }
                        </ul>
                        <input type="hidden" name="Answer" value="no data" />
                    }








                    for (int i = 0; i < totalQuestion; i++)
                    {
                        @*<td><a href=" @Url.Action("QuestionAssessment", "Home", new {@SessionID = Session["SessionID"], @qno=(i+1) })">@(i+1)</a></td>*@

                        if (Model.QuestionNumber == (i + 1))
                        {
                            if (Model.QuestionNumber == totalQuestion)
                            {
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="saveBackward(this);"> Save & Previous</a>
                                //<a href="@Url.Action("AssessmentResult", "Home", new { @SessionID = Session["SessionID"] })" onclick="saveForwardFinal(this);"></a>
                                //<button class="btn btn-primary" onclick="saveForwardFinal(this);">Submit</button>
                                //
                                <a onclick="saveForwardFinal(this);">Proceed</a>


                            }
                            else
                            {
                                if (i + 1 == 3)
                                {
                                    <a href="javascript:void(0);" class="btn btn-primary" onclick="saveBackward(this);"> Save & Previous</a>
                                    <a href="@Url.Action("QuestionAssessment", "Home", new { @SessionID = Session["SessionID"], @qno = (i + 2) })"></a>
                                    <a href="javascript:void(0);" class="btn btn-primary" onclick="saveForward(this);">Save & Next</a>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" class="btn btn-primary" onclick="saveBackward(this);"> Save & Previous</a>
                                    <a href="@Url.Action("QuestionAssessment", "Home", new { @SessionID = Session["SessionID"], @qno = (i + 2) })"></a>
                                    <a href="javascript:void(0);" class="btn btn-primary" onclick="saveForward(this);">Save & Next</a>
                                }
                            }
                        }
                    }


                }
            </div>
        </div>
        
        </section>

        <script>

            function saveForward(sender) {
                $("#Direction").val("forward");
                document.getElementById("form").submit();
            }


            function saveBackward(sender) {
                $("#Direction").val("backward");
                document.getElementById("form").submit();
            }





            function saveForwardFinal(sender) {
                $("#Direction").val("nextPage");
                document.getElementById("form").submit();


            }

        </script>


        @section scripts{
            <script>
            $(document).ready(function () {


                $('ul.js_choices li input[type="radio"]').on('click', function () {
                    var parentul = $(this).closest('ul.js_choices');
                    $.each(parentul.find('input[type="radio"][name!="' + $(this).attr('name') + '"]:checked'), function (i, e) {
                        $(e).prop('checked', false);
                    });
                });


                if ("@Model.QuestionSection" == "Fall History") {
                    jQuery('#step' + 2).prevAll().addClass("completed");
                    jQuery('#step' + 2).prevAll().removeClass("active");
                    jQuery('#step' + 2).addClass("active");
                }
                 if ("@Model.QuestionSection" == "Medical History") {
                    jQuery('#step' + 3).prevAll().addClass("completed");
                    jQuery('#step' + 3).prevAll().removeClass("active");
                    jQuery('#step' + 3).addClass("active");
                }
                 if ("@Model.QuestionSection" == "Floor") {
                    jQuery('#step' + 2).prevAll().addClass("completed");
                    jQuery('#step' + 2).prevAll().removeClass("active");
                    jQuery('#step' + 2).addClass("active");
                }
                if ("@Model.QuestionSection" == "Stairs/Steps") {
                    jQuery('#step' + 3).prevAll().addClass("completed");
                    jQuery('#step' + 3).prevAll().removeClass("active");
                    jQuery('#step' + 3).addClass("active");
                }
                if ("@Model.QuestionSection" == "Miscellaneous Obstacles") {
                    jQuery('#step' + 4).prevAll().addClass("completed");
                    jQuery('#step' + 4).prevAll().removeClass("active");
                    jQuery('#step' + 4).addClass("active");
                }
            })



            function startok(num) {
                jQuery('#step'+num).prevAll().addClass("completed");
                jQuery('#step'+num).prevAll().removeClass("active");
                jQuery('#step'+num).addClass("active");
            }

            </script>
        }


</body>
</html>
